build/sources/*.tar.gz

upstream/lens/__pycache__
upstream/*/*.pyc
upstream/*/*.pyo

upstream/lens-data/js/lens.js
upstream/lens-data/js/lens.min.js
upstream/lens-data/js/lens-angular.js
upstream/lens-data/js/lens-angular.min.js
